*{padding:0px;margin:0px;box-sizing:border-box;color:#222;background-color:white;}
.row{display:flex;}
.size1{flex:1;}
.size2{flex:2;}

.head{ background-color:black;}
.head span{ font-size:50px;padding:24px 24px 24px 24px;color:green ;margin:10px 10px 10px 10px;height:90px;}

.header .toll{padding:8px;margin:0px;color:green;background-color:black}
.vi{position:fixed;left:550px;right:200px;top:300px;width:650px;height:380px;border-style:solid;border-width:10px;border-color:grey;border-radius:30px;}
nav{margin:8px 30px 30px 550px;padding:24px 20px 20px 21px;text-decoration:none; font-family:times new roman;}
nav a:link,nav a:visited{text-decoration:none;margin:5px 5px 5px 0px;background-color:;padding:20px 45px 20px 85px;color:black;box-sizing:border-box;border:2px solid #D3D3D3;}
nav a:hover{background-color:orange;} 
//div{boder:2px solid black;}
